<button (click)="setGridView()">Grid</button>
<button (click)="setChartView()">Chart</button>
<br>
<div *ngIf="selectedView === 'grid';  then showGrid; else showChart"></div>
<ng-template #showGrid>
  <button (click)="getSelectedRows()">Get Selected Rows</button>
  <ag-grid-angular
    #agGrid
    style="width: 500px; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="gridData | async"
    [columnDefs]="gridColumnDefs"
    rowSelection="multiple"
    >
  </ag-grid-angular> 
</ng-template>
<ng-template #showChart>
  <ag-charts-angular
    style="position: relative; top: 0; right: 0; bottom: 0; left: 0;"
    [options]="chartOptions">
  </ag-charts-angular>
</ng-template>