<div class="dropdown">
  <button (click)="openCloseToolbar()" class="dropbtn">Toolbar {{ selectedMenu.text }}</button>
  <div id="dropdown-toolbar" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()">
    <div *ngFor="let tool of toolbarItemsForSelectedMenu">
      <a href="#">{{ tool.text }}</a>
    </div>
  </div>
  <!--
  <div *ngFor="let tool of toolbarItemsForSelectedMenu">
    <div *ngIf="tool.subItems;  then withSubItems; else withOutSubItems"></div>
    <ng-template #withSubItems>
      <button id="{{ 'dropdown-btn-' + item.id }}" class="dropdown-btn" (click)="openCloseSubMenu(item)">{{ item.text }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <div *ngFor="let subitem of item.subItems">
            <a href="{{ subitem.route }}">{{ subitem.text }}</a>
        </div>
      </div>
    </ng-template>
    <ng-template #withOutSubItems>
      <a href="{{ item.route }}">{{ item.text }}</a>
    </ng-template>
  </div>
-->



</div>