<div *ngFor="let item of menuItems">
  <div *ngIf="item.subItems;  then withSubItems; else withOutSubItems"></div>
  <ng-template #withSubItems>
    <button id="{{ 'dropdown-btn-' + item.id }}" class="dropdown-btn" (click)="openCloseSubMenu(item)">{{ item.text }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <div *ngFor="let subitem of item.subItems">
          <a href="{{ subitem.route }}" (click)="setMenu(subitem)">{{ subitem.text }}</a>
      </div>
    </div>
  </ng-template>
  <ng-template #withOutSubItems>
    <a href="{{ item.route }}" (click)="setMenu(item)">{{ item.text }}</a>
  </ng-template>
</div>